<table>
  <tr>
    <th>Name</th>
    <th>type</th>
    <th>amount</th>
    <th>description</th>
  </tr>
  <% @epays["data"].each do |epay| %>
    <tr>
      <td><%= epay["creditcard"]["cardholder"] %></td>
      <td><%= epay["trantype"] %></td>
      <td><%= epay["amount"] %></td>
      <td><%= epay["description"] %></td>
    </tr>
  <% end %>
</table>
